* {
  box-sizing: border-box;
}

html {
  height:100%;
}

body {
  position:relative;
  min-height:100%;
  padding:0;
  margin:0;
}

header {
  text-align: center;
  padding: 25px;
}

section {
  padding: 25px 0;
}

#calculator {
  border: 2px solid black;
  border-radius: 25px;
  background: black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#calculator td {
  background: rgb(130, 168, 217);
  text-align: center;
  padding: 30px;
}

#calculator #total {
  text-align: right;
  word-wrap: break-word;
  width: 300px;
}

#calculator #calctotal {
  text-align: right;
  font-size: 80%;
  word-wrap: break-word;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#calculator #zero {
  border-bottom-left-radius: 10px;
}

#calculator #execute {
  border-bottom-right-radius: 10px;
}

h2 {
  text-align: center;
}

#rgbSelector {
  border: 2px solid black;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

#rgbSelector th {
  text-align: left;
}

#rgbSelector td {
  width: 300px;
  height: 25px;
}

#colorRed {
  background: red;
}

#redIndicator, #greenIndicator, #blueIndicator {
  width: 100%;
}

#colorGreen {
  background: green;
}

#colorBlue {
  background: blue;
}

#rgbColor {
  background: black;
}
